{{#if jogo}}
<h1>Atualizar Jogo</h1>
<form action="/jogo/{{jogo.id}}/update" method="post">
  {{else}}
  <h1>Cadastrar Jogo</h1>
  <form action="/jogo/novo" method="post">
    {{/if}}


    <div>
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" id="titulo" value="{{jogo.titulo}}" />
    </div>

    <div>
      <label for="descricao">Descrição</label>
      <input type="text" name="descricao" id="descricao" value="{{jogo.descricao}}" />
    </div>

    <div>
      <label for="precoBase">Preço</label>
      <input type="text" name="precoBase" id="precoBase" value="{{jogo.precoBase}}" />
    </div>
    {{#if jogo}}
    <input type="submit" value="Salvar" />
    {{else}}
    <input type="submit" value="Cadastrar" />
    {{/if}}
  </form>